## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Dingle,PH,80.74,clear sky,10.9995,122.6711,SEGAYA PROPERTY
1,2,Busselton,AU,79.00,overcast clouds,-33.6500,115.3333,Observatory Guest House
2,6,Butaritari,KI,81.25,light rain,3.0707,172.7902,Isles Sunset Lodge
3,8,Atuona,PF,79.52,scattered clouds,-9.8000,-139.0333,Villa Enata
4,10,Amahai,ID,86.20,few clouds,-3.3333,128.9167,HOTEL ISABELA

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations_df = vacation_df[["Lat", "Lng"]]
locations_df

         Lat       Lng
0    10.9995  122.6711
1   -33.6500  115.3333
2     3.0707  172.7902
3    -9.8000 -139.0333
4    -3.3333  128.9167
..       ...       ...
195   4.7485   -6.6363
196  -8.7597  -35.1047
197   5.5577   95.3222
198   8.9290  -75.0271
199  -4.3520  152.2633

[200 rows x 2 columns]

In [4]:
# 4a. Add a marker layer for each city to the map.

locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.75)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

# 4b. Display the figure

Figure(layout=FigureLayout(height='420px'))

In [66]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Flinders']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Flinders']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Taree']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Dubbo'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Wodonga']

In [67]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
print(f'Start: {start}, End: {end}')

Start: (-34.5833, 150.8552), End: (-34.5833, 150.8552)

In [68]:
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'Stop 1: {stop1}, Stop 2: {stop2}, Stop 3: {stop3}')

Stop 1: (-31.9, 152.4667), Stop 2: (-32.25, 148.6167), Stop 3: (-36.1167, 146.8833)

In [69]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps
import gmaps.datasets
gmaps.configure(api_key=g_key)

# Latitude-longitude pairs
Flinders = (-34.5833, 150.8552)
Taree = (-31.9, 152.4667)
Dubbo = (-32.25, 148.6167)
Wodonga = (-36.1167, 146.8833)

fig = gmaps.figure()
Flinders = gmaps.directions_layer(Flinders, Flinders, waypoints=[Taree, Dubbo, Wodonga], travel_mode='DRIVING')
fig.add_layer(Flinders)
fig

Figure(layout=FigureLayout(height='420px'))

In [70]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,197,Flinders,AU,75.00,broken clouds,-34.5833,150.8552,Shellharbour Resort & Conference Centre
1,55,Taree,AU,75.20,overcast clouds,-31.9000,152.4667,All Seasons Country Lodge Taree
2,643,Dubbo,AU,84.20,broken clouds,-32.2500,148.6167,Comfort Inn Blue Lagoon
3,455,Wodonga,AU,78.01,clear sky,-36.1167,146.8833,The Hume Inn Motel

In [71]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
trip_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]
locations

       Lat       Lng
0 -34.5833  150.8552
1 -31.9000  152.4667
2 -32.2500  148.6167
3 -36.1167  146.8833

In [76]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]

fig = gmaps.figure(center=(-35, 150), zoom_level=4.25)
gmaps.figure(map_type='HYBRID')


marker_layer = gmaps.marker_layer(locations, info_box_content=trip_info)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

# 11b. Display the figure

Figure(layout=FigureLayout(height='420px'))